* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

.overall {
  background-color: grey;
  height: 100vh;
  width: 100%;

}

.navbar {
  /* position: fixed;
  z-index: 999; */
  background: linear-gradient(to right, rgb(179, 111, 224), rgb(86, 0, 144));
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  background-color: transparent;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-right {
  background-color: transparent;
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

.details {
  background-color: violet;
  height: 400px;
  width: 30%;
  position: absolute;
  right: 0px;
  top: 10%;
  transition-duration: 2s;
  z-index: 999;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1%;
  flex-direction: column;
}

.details2 {
  background-color: violet;
  height: 400px;
  width: 30%;
  position: absolute;
  right: -400px;
  top: 10%;
  transition-duration: 2s;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 1%;
  flex-direction: column;
}

.int1 {
  height: 6.5%;
  width: 0%;
  border: none;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  right: 150px;
  transition-duration: 1s;
}

.int {
  height: 6.5%;
  width: 20%;
  border: none;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  right: 150px;
  transition-duration: 1s;
}

.box {
  background: linear-gradient(to right, rgb(140, 85, 23), rgb(26, 26, 26));
  height: 200vh;
  width: 100%;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 6%;
}

.photos {
  height: 250px;
  width: 300px;
  border-radius: 10px;
  position: relative;
}

.photos img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.photos h2 {
  background-color: rgba(230, 230, 230, 0.5);
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 0px;
  border-radius: 0px 0px 10px 10px;
}

.photos h3 {
  background-color: rgba(0, 0, 0, 0.5);
  height: 10%;
  width: 20%;
  color: white;
  position: absolute;
  text-align: center;
  top: 0%;
  left: 0%;
  border-radius: 10px 0px 10px 0px;
}

span {
  color: red;
}

sup {
  font-size: 15px;
  position: absolute;
  top: 10px;
  right: 5px;
  height: 18px;
  width: 18px;
  background-color: red;
  border-radius: 50%;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  margin-right: 5%;
  border: 2px solid black;
  padding: 5%;
  border-collapse: collapse;
}

.total {
  background-color: rgba(230, 230, 230, 0.5);
  border-radius: 10px;
  height: 10%;
  min-width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  padding: 1%;
}